<section class="spark-contact">
	<div class="spark-container">
		<div class="contact-left column">
			<div class="member-thumb">
				<img class="thumbnail" src="{{ site.theme.path }}/style/image/nissa-thumb.png"/>
				<div class="">
					<span class="name">Nissa Szabo</span>
					<span>Community Manager</span>
				</div>
			</div>
			<p>
				For community, press, and outreach, please reach out to our Community Manager <br> <a href="mailto:social@bloxroute.com">social@bloxroute.com</a>
				<br>
				<br>
				<a class="cta-button-dark" href="mailto:social@bloxroute.com">Get In Touch</a>
			</p>
		</div>
		<div class="contact-right column">
			<div class="members">
				<div class="member-thumb">
					<img class="thumbnail" src="{{ site.theme.path }}/style/image/swick-thumb.png"/>
					<div class="">
						<span class="name">Adam Swick</span>
						<span>Investor Relations Manager <br> MBA, Kellogg</span>
					</div>
				</div>
				<div class="member-thumb">
					<img class="thumbnail" src="{{ site.theme.path }}/style/image/eleni-thumb.png"/>
					<div class="">
						<span class="name">Eleni Steinman</span>
						<span>Investor Relations Manager <br> MBA, Yale</span>
					</div>
				</div>
			</div>
			<p>For investment questions, please reach out to our Investor Relations Managers at <a href="mailto:investorrelations@bloxroute.com">investorrelations@bloxroute.com</a>
			<br>
			<br>
			<a class="cta-button-dark" href="mailto:investorrelations@bloxroute.com">Get in Touch</a>
		</div>
	</div>
</section>