{# 
	Contact Form 7 Plugin advanced-custom-fields-contact-form-7-field/
	Mailchimp Plugin contact-form-7-mailchimp-extension/
#}
<section class="spark-newsletter">
	<span id="spark-newsletter-anchor"></span>
	<div class="spark-container">
		<div class="spark-newsletter-heading">
			{{ content }}
		</div>
		<div class="spark-newsletter-form">
			<span id="sendgrid_mc_email_subscribe"></span>
			{{ form }}
		</div>
	</div>
</section>