<div class="spark-container">
	{% if layout.gallery %}
		<div class="spark-image-container">
			<div class="cycle-slideshow">
				{% for slide in layout.gallery %}
					<img src="{{slide.image.url | resize(700)}}"/>
				{% endfor %}
				<div class="cycle-pager"></div>
			</div>
		</div>
	{% elseif layout.image %}
		<div class="spark-image-container">
			<img src="{{layout.image.url}}"/>
		</div>
	{% endif %}
	<div class="spark-content">
		<div class="spark-content-container">
			{{ layout.content }}
		</div>
	</div>
</div>