/*
	Colors
	Site Color Pallette
*/	

// Variables
$primary1: #1A1A33;
$primary2: #234092;
$primary3: #2085C7;
$primary4: #1D7CC5;
$primary5: #DFE0E4;
$primary6: #F4F5F9;
$primary7: #ffffff;

$secondary1: #0D0D2A;
$secondary2: #DFE0E4;


$cta_color: $primary3;
$link_color: $primary2;

.knockout, .knockout * {
	color: white;
}

@mixin intense-gradient {
	background: linear-gradient(to right, $primary1, $primary2);
	transition: all .45s
}

@mixin intense-gradient-reverse {
	background: linear-gradient(to bottom right, $primary2, $primary1);
}

@mixin subtle-gradient {
	background: linear-gradient(to right, $primary2, $primary3);
	transition: all .45s
}

@mixin subtle-gradient-tb {
	background: linear-gradient(to top, $primary2, $primary3);
	// transition: all .45s;
}

@mixin gray-gradient {
	background: linear-gradient(to right, $primary6, $secondary2);
	transition: all .45s;
}
@mixin gray-gradient-tb {
	background: linear-gradient(to bottom, $primary6, $secondary2);
	transition: all .45s;
}

@mixin subtle-gradient-tb-reverse {
	background: linear-gradient(to bottom, $primary2, $primary3);
	transition: all .45s;
}

@mixin subtle-gradient-reverse {
	background: linear-gradient(to bottom right, #2164AB, $primary2);
}