.spark-content-with-image {
	position: relative;

	&.default {
		background: $primary1;
		.spark-container {
			justify-content: left;
		}


		&.left {
			@include breakpoint($medium-up){
				&:before {
					@include subtle-gradient-tb;
					content: "";
					display: block;
					height: 100%;
					position: absolute;
					width: 38%;
				}
			}

			.spark-content {
				@extend .knockout;
				order: 1;
				padding: base(4) base(10) base(4) 0;

				@include breakpoint($small) {
					@include span(12);
					flex: 0;
				}

				@include breakpoint($medium-up) {
					@include span(5);
					padding-right: base(8);
					margin-right: base(4);
				}

				@include breakpoint($large-up) {
					@include span(5);
					padding-right: base(18);
				}
			}
			img {
				margin: base(4) 0 base(4) base(4);
				order: 2;

				@include breakpoint($small) {
					max-width: 100%;
					height: auto;
				}
			}
		}

		.spark-container {
			align-items: center; 
			position: relative;
			z-index: 100;

			@include breakpoint($small){
				flex-direction: column;
			}
		}
	}

	&.staggered{
		padding: base(8) 0;

		.spark-container {
			align-items: flex-start;
			justify-content: center;
			flex-wrap: wrap;		
		}

		.spark-image-container {
			position: relative;
			@include span(12);

			@include breakpoint($medium-up){
				@include span(6);
				transform: translateX(#{base(5)});
				margin-bottom: base(4);
				&:before {
					@include subtle-gradient;
					content: "";
					height: 234px;
					position: absolute;
					width: 234px;
					bottom: base(-2.5);
					left: base(-2);
					z-index: -1;
				}
			}

			img {
				width: 100%;
				display: block;
			}
		}

		.spark-content {
			@include span(12);
			margin-top: base(4);

			@include breakpoint($medium-up){
				@include span(6);
				margin-top: base(18);
				position: relative;
				z-index: 10;
				&:after {
					@include gray-gradient;
					background: $primary6;
					top: base(-3);
					content: "";
					height: 234px;
					position: absolute;
					right: base(-2);
					width: 234px;
					z-index: -1;
				}
			}

			.spark-content-container {
				background: $primary1;
				padding: base(6) base(3) base(6) base(4);
			}

			h3, p, a {
				color: $primary7;
			}

		}
	}
}