.spark-content-with-image {
	position: relative;

	&.default {
		.spark-container {
			justify-content: left;
		}


		&.left {
			background: $primary1;
			@include breakpoint($small){
				flex-wrap: wrap;
			}

			@include breakpoint($medium-up){
				&:before {
					@include subtle-gradient-tb;
					content: "";
					display: block;
					height: 100%;
					position: absolute;
					width: 38%;
				}
			}

			.spark-content {
				@extend .knockout;
				order: 1;
				padding: base(4) base(10) base(4) 0;

				@include breakpoint($small) {
					@include span(12);
					flex: 0;
				}

				@include breakpoint($medium-up) {
					@include span(6);
					padding-right: base(8);
					margin-right: base(4);
				}

				@include breakpoint($large-up) {
					padding-right: base(18);
				}
			}
			img, video {
				margin: base(4) 0 base(4) base(4);
				max-width: 100%;
				order: 2;

				@include breakpoint($small) {
					max-width: 100%;
					height: auto;
				}
			}
		}

		&.right {
			padding: base(5) 0;
			.spark-container {
				justify-content: center;
			}

			.spark-content {
				order: 2;
				padding: base(4) 0;

				@include breakpoint($small) {
					@include span(11);
					flex: 0;
				}

				@include breakpoint($medium-up) {
					@include span(4);
					margin-right: base(4);
				}
			}
			img, video {
				max-width: 100%;
				order: 1;

				@include breakpoint($small) {
					width: span(10);
					margin: base(4);
					max-width: 100%;
					height: auto;
				}

				@include breakpoint($medium-up){
					@include span(6);
					margin: 0 base(8) 0 0;
				}
			}	
		}

		.spark-container {
			align-items: center; 
			position: relative;
			// z-index: 100;

			@include breakpoint($small){
				flex-direction: column;
			}
		}
	}

	&.staggered{
		background: $primary6;

		@include breakpoint(min-width 1100px){
			padding: base(4) 0;
		}

		&:before {
			@include breakpoint(min-width 1100px){
				content: "";
				position: absolute;
				height: 61vw;
				width: 100%;
				background: #282846;
				display: block;
				top: 0;
				height: 63%;
			}
		}

		.spark-container {
			align-items: flex-start;
			justify-content: center;
			padding: 0;

			@include breakpoint(min-width 1100px){
				padding: base(9) base(10) base(4);
			}
		} 	

		.content-container {
			align-items: flex-start;
			background: #191933;
			display: flex;
			flex-basis: span(12);
			justify-content: center;
			flex-wrap: wrap;
			flex-direction: row-reverse;	
			z-index: 100;

			@include breakpoint(min-width 1100px){
				box-shadow: 2px 2px 24px rgba($primary1, .75);	
			}
		}



		.spark-image-container {
			position: relative;
			flex: 1 1 100%;
			display: flex;

			@include breakpoint(min-width 1100px){
				flex-basis: 164px;
				// transform: translateX(#{base(8)});
				// &:before {
				// 	@include subtle-gradient;
				// 	border-radius: 4px;
				// 	content: "";
				// 	height: 234px;
				// 	position: absolute;
				// 	width: 234px;
				// 	bottom: base(-5);
				// 	left: base(-4);
				// 	z-index: -1;
				// }
			}

			.cycle-slideshow {
				overflow: hidden;
				width: 100%;

				@include breakpoint(min-width 1100px){
					min-width:	610px; 
				}
			}

			img {
				width: 100%;
				display: block;
			}

			.cycle-pager {
			    bottom: 0;
			    display: block;
			    left: 0;
			    margin: auto;
			    position: absolute;
			    right: 0;
			    text-align: center;
			    z-index: 1000;
				span {
					font-size: 100px;
					color: $primary6;

					&.cycle-pager-active {
						color: $primary3;
					}
				}
			}
		}

		.spark-content {
			@extend .knockout;
			display: flex;
			// margin-top: base(4);
			background-color: #191933;
			flex: 1;

			@include breakpoint(max-width 900px){
				width: span(12);
			}
			
			@include breakpoint(min-width 1100px){
				position: relative;
				z-index: 10;
				height: 454px;
			}

			.spark-content-container {
				padding: base(9) base(5) base(6) base(6);
				display: flex;
				flex-direction: column;
				line-height: 2;
			}

			h3, p, a {
				color: $primary7;
			}

		}
	}

	@include breakpoint($small) {
		.spark-container {
			flex-wrap: wrap;
			img {
				max-width: 100%;
				height: auto;
			}
		}
	}
}