.spark-content-with-image {
	position: relative;

	&.default {
		.spark-container {
			justify-content: left;
		}


		&.left {
			background: $primary1;
			@include breakpoint($small){
				flex-wrap: wrap;
			}

			@include breakpoint($medium-up){
				&:before {
					@include subtle-gradient-tb;
					content: "";
					display: block;
					height: 100%;
					position: absolute;
					width: 38%;
				}
			}

			.spark-content {
				@extend .knockout;
				order: 1;
				padding: base(4) base(10) base(4) 0;

				@include breakpoint($small) {
					@include span(12);
					flex: 0;
				}

				@include breakpoint($medium-up) {
					@include span(5);
					padding-right: base(8);
					margin-right: base(4);
				}

				@include breakpoint($large-up) {
					@include span(5);
					padding-right: base(18);
				}
			}
			img {
				margin: base(4) 0 base(4) base(4);
				max-width: 100%;
				order: 2;

				@include breakpoint($small) {
					max-width: 100%;
					height: auto;
				}
			}
		}

		&.right {
			justify-content: center;

			.spark-content {
				order: 2;
				padding: base(4) base(10) base(4) 0;

				@include breakpoint($small) {
					@include span(11);
					flex: 0;
				}

				@include breakpoint($medium-up) {
					@include span(5);
					margin-right: base(4);
				}

				@include breakpoint($large-up) {
					padding-right: base(18);
				}
			}
			img {
				max-width: 100%;
				order: 1;

				@include breakpoint($small) {
					width: span(10);
					margin: base(4);
					max-width: 100%;
					height: auto;
				}

				@include breakpoint($medium-up){
					@include span(4);
					margin: base(4) base(8) base(4) 0;
				}
			}	
		}

		.spark-container {
			align-items: center; 
			position: relative;
			z-index: 100;

			@include breakpoint($small){
				flex-direction: column;
			}
		}
	}

	&.staggered{
		padding: base(8) 0;

		.spark-container {
			align-items: flex-start;
			justify-content: center;
			flex-wrap: wrap;		
		}

		.spark-image-container {
			position: relative;
			@include span(12);

			@include breakpoint($medium-up){
				@include span(6);
				transform: translateX(#{base(8)});
				margin-bottom: base(4);
				&:before {
					@include subtle-gradient;
					border-radius: 4px;
					content: "";
					height: 234px;
					position: absolute;
					width: 234px;
					bottom: base(-5);
					left: base(-4);
					z-index: -1;
				}
			}

			.cycle-slideshow {
				border-radius: 4px;
				overflow: hidden;
			}

			img {
				width: 100%;
				display: block;
			}

			.cycle-pager {
			    bottom: 0;
			    display: block;
			    left: 0;
			    margin: auto;
			    position: absolute;
			    right: 0;
			    text-align: center;
			    z-index: 1000;
				span {
					font-size: 100px;
					color: $primary6;

					&.cycle-pager-active {
						color: $primary3;
					}
				}
			}
		}

		.spark-content {
			@include span(12);
			margin-top: base(4);

			@include breakpoint($medium-up){
				@include span(6);
				margin-top: base(18);
				position: relative;
				z-index: 10;
				transform: translateX(base(-5));
				&:after {
					@include gray-gradient;
					border-radius: 4px;
					background: #E9EBF0;
					top: base(-5);
					content: "";
					height: 234px;
					position: absolute;
					right: base(-4);
					width: 234px;
					z-index: -1;
				}
			}

			.spark-content-container {
				background: $primary1;
				border-radius: 4px;
				padding: base(6) base(3) base(6) base(4);
			}

			h3, p, a {
				color: $primary7;
			}

		}
	}

	@include breakpoint($small) {
		.spark-container {
			flex-wrap: wrap;
			img {
				max-width: 100%;
				height: auto;
				margin-bottom: base();
			}
		}
	}
}