.spark-contact-modal-container{
	display: none;
	&.active {
	    display: block;
	    height: 100%;
	    left: 0;
	    position: absolute;
	    top: 0;
	    width: 100%;
		z-index: 1001;
		&:before {
			content: "";
			position: fixed;
			display: block;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(255,255,255,.9);
		}
		.spark-contact-modal {
			background: white;
		    bottom: 0;
			box-shadow: 1px 5px 20px rgba($primary1,.5);
			display: flex;
			height: 100%;
		    left: 0;
		    margin: auto;
			position: fixed;
		    right: 0;
			top: 0;
			width: 100%;
			z-index: 1000;

			@include breakpoint($medium-up){
				height: 485px;
				width: 620px;
			}

			.contact-left {
				width: 202px;
				background: url('style/image/graphics/contact-background.jpg');
				background-size: cover;
				margin-right: base(4);
				position: relative;

				@include breakpoint($small){
					display: none;
				}

				.contact-heading {
					position: absolute;
					transform: rotate(-90deg);
					top: base(12);
					left: base(-4);
					color: $primary7;
				}
				.social-icons {
					bottom: 20px;
					left: 0;
					right: 0;
					margin: auto;
					position: absolute;
					text-align: center;

					a{
						color: white;
						text-decoration: none;
						font-size: 22px;
						margin: 0 base();

						&:not(.telegram-plane):not(.twitter) {
							display: none;
						}
					}
				}
			}

			.contact-right {
				@include breakpoint($small){
					padding-top: base(8);
				}
			}

			.close {
				cursor: pointer;
				position: absolute;
				right: base(2);
				top: base(2);
				width: 30px;
				height: 30px;
				z-index: 9000;
				img {
					height: 30px;
					width: 30px;
				}
			}

			.wpcf7 {
				padding: base(3);
				input {
					&[type="text"], &[type="email"] {
						border: none;
						border-bottom: 1px solid $primary5;
						margin-bottom: base();
						padding: base() 0;
						width: 100%;
						font-family: $body_family;
						color: $primary1;
					}
				}

				textarea {
					border:none;
					border-bottom: 1px solid $primary5;
					margin-bottom: base(3);
					padding: base() 0;
					width: 100%;
					height: 120px;
					font-family: $body_family;
					color: $primary1;
					outline: none;
				}

				.wpcf7-list-item {
					margin: 0;
					font-weight: 600;
					position: relative;
					margin-top: base(2);

					.wpcf7-list-item-label{
						padding-left: base(4);
						display: block;
						&:before {
							background: $secondary2;
							border: 4px solid transparent;
							content: "";
							display: inline-block;
							vertical-align: middle;
							width: 10px;
							height: 10px;
							position: absolute;
							left: 0;
							top: 5;
						}
						&:after {
							content: "this is the other content";
							font-weight: 400;
							display: block;
						}
					}

					&.first {
						.wpcf7-list-item-label:after {
							content: "social@bloxroute.com";
						}
					}
					&.last {
						.wpcf7-list-item-label:after {
							content: "investorrelations@bloxroute.com";
						}
					}
					

					input[type="checkbox"] {
						height: 20px;
						left: 0px;
						margin: 0;
						opacity: .01;
						padding: 10px;
						position: absolute;
						top: 5px;
						width: 20px;
						z-index: 999;
					}
					input[type="checkbox"]:checked ~ .wpcf7-list-item-label {
						position: relative;
						&:before {
							border: 4px solid $primary3;
						}
					}
				}


				.wpcf7-not-valid-tip {
					display: none;
				}
			}

			.wpcf7-not-valid {
				border-color: red !important;
			}

			.wpcf7-checkbox + .wpcf7-not-valid-tip {
			    display: block;
			    position: absolute;
			    top: -52px;
			    left: 0;
			    right: 0;
			    margin: auto;
			    height: 35px;
			    width: 200px;
			    background: white;
			    box-shadow: 1px 1px 3px $primary5;
			    text-align: center;
			    padding: 10px;
			    border: 1px solid $primary5;

			    &:before {
				  	border-left: 5px solid transparent;
				    border-right: 5px solid transparent;
				    border-top: 5px solid $primary5;
				    content: "";
				    height: 0;
				    width: 0;
				    position: absolute;
				    bottom: -5px;
				    left: 0;
				    right: 0;
				    margin: auto;
			    }
			}

			.wpcf7-validation-errors {
			    background: white;
			    border: 1px solid $primary5;
			    bottom: 0;
			    box-shadow: 1px 1px 3px $primary5;
			    display: block;
			    height: 56px;
			    line-height: 1.4;
			    left: 0;
			    margin: auto !important;
			    padding: 10px 15px;
			    position: absolute;
			    right: 0;
			    top: 0;
		        transform: translateY(-40px);
			    width: 350px;
			}

			.wpcf7-mail-sent-ok {
				background-color: $primary7;
				border: none;
				bottom: 0;
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
				margin: auto;
				text-align: center;
				padding: 33% base(4);
				font-size: 22px;
				font-family: $body_family;
				font-weight: 500;
				pointer-events: none;
			}

			.form-container {
				border-radius: 5px;
				box-shadow: 0px 0px 8px $secondary2;
				padding: 0 base(3);
				margin-top: base(2); 
			}

			.form-radios {
				margin-bottom: base(2);
				font-size: 11px;
				line-height: 1.4;
			}

			.cta-button {
				display: block;
				margin: auto;
				padding: 10px base(3);
			}

		}
	}
	
	&:not(.active) {
		display: none;
	}
}