.spark-footer {
	@extend .knockout;
	background-color: $primary1;
	box-shadow: -2px -1px 10px $secondary1;

	.spark-container {
		flex-wrap: wrap;
		justify-content: flex-start;
	}

	.spark-footer-text {
		display: flex;
		justify-content: space-between;
		padding: base() 0;

		.spark-container {
			align-items: center;
			justify-content: space-between;
			border-top: 1px solid rgba($primary7, .25);
			padding-top: base(2);

		}
	}

	.spark-footer-copy {
		display: flex;
		flex-direction: row;

		> *, > * strong {
			color: #8080A9;
		}

		@include breakpoint($small){
			@include span(12);
			flex-direction: column; 
			margin-bottom: base(3);
		}

		@include breakpoint($medium-up){
			h5{
				margin-right: base(2);
			}
		}
	}

	.spark-footer-socials {
		a {
			border-radius: 50%;
			background-color: $primary1;
			text-decoration: none;
			padding: base();
		    font-size: 18px;

			&:not(:last-child){
				margin-right: base(2);
			}

			&[href]:hover{
				color: #2267b0;
			}

			&:not([href]){
				pointer-events: none;
			}
		}

		@include breakpoint($small) {
			@include span(12);
		}
	}

	.spark-nav-footer-container {
		.spark-container {
			justify-content: center;
			text-align: center;
		}

		h3 {
			margin-right: base(2);
		}

		.ctct-inline-form {
			flex-basis: 90%;
		}
	}

	.spark-nav-footer-menu {
		@include span(12);
		display: flex;
		flex-direction: column;
		margin-bottom: base(2);

		@include breakpoint($medium-up){
			@include span(10);
		}

		li {
			margin-right: base(3);
		}

		@include breakpoint($small){
			& > li {
				margin-bottom: base(3);
			}
		}


		a {
			text-decoration: none;
			text-transform: uppercase;
			font-size: 12px;

			&[href]:hover{
				color: $primary3;
				p {
					color: $primary3;
				}
			}
		}

		> li > a {
			font-weight: 600;
		}

		a[href="#"] {
			pointer-events: none;
		}

		.contact-modal-trigger {
			a[href="#"] {
				pointer-events: all;
			}
		}
	}
	.spark-nav-footer-subscribe {
		@include span(12);

		@include breakpoint($small){
			padding: base(4) 0;
		}

		@include breakpoint($medium-up){
			@include span(12);
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		h3, p {
			font-size: 12px;
			line-height: 1.3;
		}

		h3 {
			text-align: left;
			text-transform: uppercase;
			line-height: 1.6;
			flex-basis: 200px;
		}

		.ctct-form-field, button {
			margin: 0 base() !important;
		}
	}

	.ctct-form-custom {
		align-items: center;
		display: flex;
		flex-wrap: wrap;

		.ctct-form-element {
			border-radius: 0;
			border:none;
			background-color: #303059 !important;
			color: white !important;
			font-family: $body_family;

			&::placeholder {
				font-family: $body_family;
			}
		}
		.ctct-form-field {
			flex: 1;
			font-family: $body_family;


			@include breakpoint($small){
				@include span(12);
				margin: 0 !important;
				margin-bottom: base(2) !important;
				padding: 0 !important;
			}
		}

		button.ctct-form-button {
		    flex-basis: 120px;
		    padding: 16px 0 !important;
		    transition: none !important;

		    @include breakpoint($small){
		    	margin: 0 !important;
		    }
		}
	}
	.ctct-form-embed.form_1 .ctct-form-custom .ctct-form-label, 
	.ctct-form-embed.form_1 .ctct-form-defaults .ctct-gdpr-text, 
	.ctct-form-embed.form_1 .ctct-form-defaults .ctct-gdpr-text a{
		@extend .knockout;
		font-family: $body_family;
	}
	.ctct-form-embed.form_1 .ctct-form-custom .ctct-form-label {
		@extend h3;
		color: white;
		font-size: 14px;
	}
	.ctct-form-embed.form_1 .ctct-form-defaults {
		background: none;
		padding: base(4) 0;
	}

	.ctct-gdpr-text {
		display: none;
	}

	.ctct-form-success * {
	    color: white !important;
	}

	.ctct-form-label {
		display: none !important;
	}

	.ctct-inline-form {
		@include breakpoint($small){
			margin-top: base(2);
		}
	}

	div.ctct-form-field {
		margin-bottom: 0 !important;
		position: relative;

	}

	.ctct-form-footer {
		display: none;
	}

	.ctct-form-defaults {
		padding: 0 !important;
	}

	.ctct-form-button {
		background: linear-gradient(to top, $primary2, $primary3) !important;
		transition: all .45s !important;
		border-radius: 4px !important;
		display: inline-block !important; 
		font-size: 12px !important;
		font-weight: 600 !important;
		padding: base(2) base(3) !important;
		text-decoration: none !important;
		text-transform: uppercase !important;
		color: $primary7 !important;
		border: none !important;

		&:hover {
			background: #234898 !important;
			transition: all .45s !important;
			color: $primary6 !important;
		}
	}

	.ctct-form-element {
		height: 44px !important;
		border: none !important;
	}

	.ctct-form-errormessage {
	    bottom: -33px;
	    position: absolute;
	}
}