.spark-footer {
	@extend .knockout;
	background-color: $primary1;
	padding: base(4) 0 0;

	.spark-container {
		flex-wrap: wrap;
		justify-content: flex-start;
	}

	.spark-footer-text {
		@include subtle-gradient;
		display: flex;
		justify-content: space-between;
		padding: base(2) 0;

		.spark-container {
			align-items: center;
			justify-content: space-between;
		}
	}

	.spark-footer-copy {
		display: flex;
		flex-direction: row;
	}

	.spark-footer-socials {
		a {
			border-radius: 50%;
			background-color: $primary1;
			text-decoration: none;
			padding: base(1.5);
			font-size: base(3);

			&:not(:last-child){
				margin-right: base(2);
			}

			&:hover {
				color: $primary6;
			}
		}
	}

	.spark-nav-footer-menu {
		@include span(12);
		display: flex;
		flex-direction: column;
		margin-bottom: base(2);

		@include breakpoint($medium-up){
			@include span(8);
			flex-direction: row;
		}

		li {
			margin-right: base(3);
		}

		@include breakpoint($small){
			& > li {
				margin-bottom: base(3);
			}
		}


		a {
			text-decoration: none;
			text-transform: uppercase;
			font-size: 12px;

			&:hover {
				color: $secondary2;
			}
		}

		> li > a {
			font-weight: 600;
		}

		.menu-item-has-children > a {
			pointer-events: none;
		}
	}
	.spark-nav-footer-subscribe {
		@include span(12);
		margin-bottom: base(5);

		@include breakpoint($medium-up){
			@include span(4);
		}

		h3, p {
			font-size: 12px;
			line-height: 1.3;
		}

		h3 {
			text-transform: uppercase;
			line-height: 1.6;
			margin-bottom: base();
		}
	}

	.ctct-form-custom {
		align-items: center;
		display: flex;
		.ctct-form-element {
			border-radius: 0;
			border:none;
		}
		.ctct-form-field {
			flex: 1;
		}

		button.ctct-form-button {
		    flex-basis: 95px;
		    padding: 14px !important;
		}
	}
	.ctct-form-embed.form_1 .ctct-form-custom .ctct-form-label, 
	.ctct-form-embed.form_1 .ctct-form-defaults .ctct-gdpr-text, 
	.ctct-form-embed.form_1 .ctct-form-defaults .ctct-gdpr-text a{
		@extend .knockout;
		font-family: $body_family;
	}
	.ctct-form-embed.form_1 .ctct-form-custom .ctct-form-label {
		@extend h3;
		color: white;
		font-size: 14px;
	}
	.ctct-form-embed.form_1 .ctct-form-defaults {
		background: none;
		padding: base(4) 0;
	}

	.ctct-gdpr-text {
		display: none;
	}

	.ctct-form-success * {
	    color: white !important;
	}

	.ctct-form-label {
		display: none !important;
	}

	div.ctct-form-field {
		margin-bottom: 0 !important;

	}

	.ctct-form-footer {
		display: none;
	}

	.ctct-form-defaults {
		padding: 0 !important;
	}

	.ctct-form-button {
		font-family: $body_family;
		text-transform: uppercase !important;
		font-size: 12px !important;
	}

	.ctct-form-element {
		height: 42px !important;
	}
}