.spark-vimeo-hero {
	background: $primary1;
	overflow: hidden;
	padding: base(8) 0;
	position: relative;

	.spark-container {
		overflow: hidden;
		position: relative;
		z-index: 1;
		align-items: center;

		@include breakpoint($small){
			flex-wrap: wrap;
		}
	}

	.spark-content {
		@include span(12);

		@include breakpoint($small) {
			margin-bottom: base(3); 
		}

		@include breakpoint($medium-up) {
			@include span(3);
		}

		h1, p {
			margin-bottom: base(3);
		}
	}

	.video-container {
		cursor: pointer;
		position: relative;
		@include span(12);

		@include breakpoint($medium-up) {
			@include push(1);
			@include span(8);
		}

		video {
			visibility: hidden;
		}

		&:after{
			background-image: url(style/image/play-button/inactive.png);
			background-size: cover;
		    bottom: 0;
			content: "";
			display: block;
			height: 100px;
		    left: 0;
			margin: auto;
			position: absolute;
		    right: 0;
		    top: 0;
			width: 100px;
		}

		&:hover:after{
			background-image: url(style/image/play-button/active.png);
		}

		&.video-active {
			background-image: none !important;
			&:after {
				content: none;
			}	

			video {
				visibility: visible;
				max-width: 100%;
				height: auto;
			}
		}

		.video {
			max-width: 100%;
		}
	}

	.overlay {
		@include subtle-gradient-tb;
		top: 50%;
	    height: 160%;
	    left: 19%;
	    position: absolute;
	    transform: rotate(42deg);
	    width: 200%; 


		@include breakpoint($medium-up){
		    width: 175.4vw;
		    height: 112vw;
		    top: 29.9vw;
		    left: -20.1vw;
		    transform: rotate(-26.8deg);
		}
		
		@include breakpoint($large-up){
			width: 150%;
			height: 151%;
			top: 60%;
			left: -12%;
			z-index: 0;
			transform: rotate(-26.5deg);
		}
	}
}