.spark-vimeo-hero {
	background: $primary1;
	// overflow: hidden;
	padding: base(8) 0;
	// position: relative;
	background: url('style/image/graphics/contact-background.jpg');
	background-size: cover;
	background-position: top right;

	.spark-container {
		overflow: visible;
		position: relative;
		z-index: 1;
		align-items: center;

		@include breakpoint($small){
			flex-wrap: wrap;
		}
	}

	.spark-content {
		@include span(12);

		@include breakpoint($small) {
			margin-bottom: base(3); 
		}

		@include breakpoint($medium-up) {
			@include span(3);
		}

		h1, p {
			margin-bottom: base(3);
		}
	}

	.video-container {
		background-size: cover;
		cursor: pointer;
		position: relative;
		@include span(12);

		@include breakpoint($medium-up) {
			@include push(1);
			@include span(8);
		}

		&:after{
			background-image: url(style/image/play-button/inactive.png);
			background-size: cover;
		    bottom: 0;
			content: "";
			display: block;
			height: 100px;
		    left: 0;
			margin: auto;
			position: absolute;
		    right: 0;
		    top: 0;
			width: 100px;
		}

		.control-button {
			display: none;
			position: absolute;
			bottom: base(3);
			left: base(4);
			font-size: 18px;
		}

		.spark-close {
			display: none;
		}

		&:hover:after{
			background-image: url(style/image/play-button/active.png);
		}

		&.video-active {
			background-image: none !important;
			&:after {
				content: none;
			}	

			.control-button {
				display: block;
			}

			.video-wrap {
				background: rgba($primary7, .75);
				position: fixed;
				top: 0;
				left: 0;
				width: 100vw;
				height: 100vh;
				z-index: 1001; 

				video {
					position: absolute;
					width: 75%;
					height: auto;
					max-height: 540px;
					max-width: 960px;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					margin: auto;
				}

				.spark-close {
				    position: absolute;
				    top: 90px;
				    right: 8px;
				    display: block;
				    width: 32px;
				    height: 32px;
				    font-size: 28px;
				    color: $primary4;
				}
			}
		}

		video {
			width: 100%;
			height: auto;
		    box-shadow: 5px 5px 17px #1A1A3399;
		    background-color: #1A1A33;
		}
	}



	.overlay {
		@include subtle-gradient-tb;
		top: 50%;
	    height: 160%;
	    left: 19%;
	    position: absolute;
	    transform: rotate(42deg);
	    width: 200%; 


		@include breakpoint($medium-up){
		    width: 175.4vw;
		    height: 112vw;
		    top: 29.9vw;
		    left: -20.1vw;
		    transform: rotate(-26.8deg);
		}
		
		@include breakpoint($large-up){
			width: 150%;
			height: 151%;
			top: 60%;
			left: -12%;
			z-index: 0;
			transform: rotate(-26.5deg);
		}
	}
}