section.nav {
	height: base(7);
}

.spark-nav-basic {
	background-color: $primary1;
	box-shadow: 2px 2px 10px $secondary1;
	color: white;
	left: 0;
	margin: auto;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1000;
	transition: all .25s linear;

	.spark-nav-basic-container .spark-container {
		align-items: center;
		display: flex;
		justify-content: flex-end;

		&:after {
			content: none;
		}
	}

	.spark-site-logo {
		align-items: center;
		display: inline-flex;
		flex: 1;

		a{
			padding: 11px 0;
		}

		img {
			width: base(20);
		}
	}

	.spark-nav-basic-menu {

		@include breakpoint(max-width 1020px){
			align-items: flex-start;
			background-color: $primary7;
			display: none;
			flex-direction: column;
			height: 100vh;
			justify-content: flex-start;
			left: 0;
			overflow: scroll;
			position: fixed;
			top: 0;
			width: 100%;
			z-index: 100;
			padding: base(5) 0;

			&.open {
				display: flex;
			}

			li {
				width: 100%;
				a {
					color: $primary1;
					text-decoration: none;
					font-size: 18px;
					padding: base(2) base(2);
					display: block;
					border-bottom: 1px solid $primary5;
					width: 100%;
				}
			}

			.menu-item-has-children {
				& > a {
					position: relative;
					&:after{
						content: "";
						background-image: url(style/image/icon/down.png);
						display: block;
						position: absolute;
						top: 0;
						bottom: 0;
						right: 20px;
						width: 20px;
						height: 20px;
						margin: auto;
						background-size: contain;
						background-repeat: no-repeat;
					}
				}
				&:not(.open) .spark-nav-basic-menu-sub-nav {
					display: none;
				}
				&.open {
					a:after {
						transform: rotate(180deg);
					}
				}
			}

			.spark-close-button {
				height: 30px;
				position: fixed;
				right: 20px;
				top: 20px;
				width: 30px;

				&:before, &:after {
					background: $primary1;
					bottom: 0;
					content: "";
					display: block;
					height: 2px;
					margin: auto;
					position: absolute;
					top: 0;
					width: 100%;
				}

				&:before {
					transform: rotate(45deg);
				}

				&:after {
					transform: rotate(-45deg);
				}
			}
		}

		@include breakpoint (min-width 1020px){

		    align-items: center;
		    display: flex;
			> li.menu-item {
				display: inline-block;
				position: relative;
				vertical-align: middle;

				&:before {
					background-color: #323049;
					bottom: 0;
					content: "";
					display: block;
					height: 0px;
					left: 0;
					position: absolute;
					width: 100%;
					transition: height .3s;
				}

				&:after {
					background: #2267b0;
					content: "";
					bottom: 0;
					display: block;
					height: 0px;
					width: 100%;
					transition: height .25s linear;	
					position: absolute;				
				}

				a {
					color: $primary6;
					display: block;
					text-decoration: none;
					text-transform: uppercase;
					font-size: 12px;
					font-weight: 300;
					padding: 21px base(2);
					position: relative;
					z-index: 1000;
				}


				&.current_page_item, &:hover {
					// background: $secondary1;
					&:after {
						height: 100%;
						transition-delay: 0s;
					}
				}

				&.current_page_item, &:hover{
					&:before {
						height: 100%;
					}
				}
			}
		}
	}

	.spark-header-socials{
		border-left: 1px solid rgba(255, 255, 255, 0.25);
	    padding-left: 18px;

		a {
			color: rgba($primary7, .7);
			text-decoration: none;
			margin-left: base(2);
			font-size: 16px;

			&:hover {
				color: #1587ff;
			}
		}

		@include breakpoint($small){
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			padding: base(4) 0;
			text-align: center;
			a.fab {
				@include span(1);
				border-bottom: none;
				font-size: 30px;
				padding: 0;
				margin: 0 base(1.5);
			}

		}

		@include breakpoint($medium-up){
		    margin-left: 18px;
		}
	}

	.spark-nav-basic-menu-sub-nav {
		@include breakpoint($medium-up){
			display: none;
		}

		li.menu-item {
			a {
				white-space: nowrap;
				display: flex;
				align-items: center;

				.fab {
					margin-right: 10px;
					&:before {
						font-size: base(3);
					}
				}

				@include breakpoint($small){
					margin-left: base();
				}
			}
		}
	}

	.menu-item:hover .spark-nav-basic-menu-sub-nav{

		@include breakpoint($medium-up){
			display: flex;
			position: absolute;

			.sub-nav-container {
				background-color: white;
				color: $primary1;
			}

			li {
				background-color: white;
				width: 250px;

				a {
					color: $primary1;
					padding: base(2);

					&:hover, &:hover .fab:before {
						color: $primary3;
					}
				}
			}
		}
	}

	.spark-menu-button {
		display: inline-block;
		height: 20px;
		width: 25px;
		position: relative;

		@include breakpoint(min-width 1020px) {
			display: none;
		}

		.button-bar, &:before, &:after {
			background: white;
			bottom: 0;
			content: "";
			display: block;
			height: 2px;
			margin: auto;
			margin-right: 10px;
			position: absolute;
			top: 0;
			width: 100%;
		}

		&:before {
			top: 0;
			bottom: auto;
		}

		&:after {
			bottom: 0;
			top: auto;
		}
	}

	.mobile-menu-button {
		display: none;
	}
}

.menu-open {
	overflow: hidden;
}