.page-container {
	min-height: calc(100vh - 400px);
	background: $primary6; 
}

.page-intro {
	padding: base(8) 0 base(2);
	background: $primary6; 

	h2 {
		margin-bottom: base(2);
	}
	
	.page-content {
		@include breakpoint($medium-up){
			padding: 0 base(9);
		}
	}
}