.spark-position-list {
	background: $primary6;
	padding: base(5) 0;

	.spark-container {
		flex-wrap: wrap;
		justify-content: center;
		.section-heading {
			@include span(12);
			text-align: center;
			margin-bottom: base(4);
		}
	}

	
	.spark-position-preview-container {
		@include span(12);
		margin-bottom: base(4);

		@include breakpoint($small){
		}
		
		@include breakpoint($medium-up){
			@include span(4);
		}
	}
	
	.spark-position-preview {
		border-radius: 2px;
		box-shadow: 2px 2px 8px $secondary2;
		background: $primary7;

		h3,p {
			padding: 0 base(3);
		}

		h3 {
			padding-top: base(3);
		}

		p {
			height: 5em;
			padding-bottom: base(3);
		}

		p + a.spark-position-link {
			margin-top: 0; 
		}

		.spark-position-link {
			padding: base(2) 0;
			display: block;
			margin-top: base(2);
			position: relative;
			text-align: center;
			text-decoration: none;
			&:before {
				content: "";
				top: 0;
				position: absolute;
				border-top: 1px solid $primary6;
				width: calc(100% - #{base(4)});
				height: 0;
				left: 0;
				right: 0; 
				margin: auto 
			}

			span {
				transition: color .12s linear .25s;
			}

			&:after {
				@include subtle-gradient;
				bottom: 0;
				content: "";
				height: 3px;
				left: 0;
				position: absolute;
				transition: color .25s linear .25s, height .5s linear;
				width: 100%;
				z-index: 0;
			}

			&:hover {
				span {
					color: white;
					z-index: 1;
					position: relative;
				}

				&:after{
					height: 100%;
				}
			}
		}

		.video-thumb {
			position: relative;
			cursor: pointer;

			img {
				width: 100%;
			}
			&:after {
			  background-image: url(style/image/play-button/inactive.png);
			  background-size: cover;
			  bottom: 0;
			  content: "";
			  display: block;
			  height: 100px;
			  left: 0;
			  margin: auto;
			  position: absolute;
			  right: 0;
			  top: 0;
			  width: 100px;
			}

			&:hover:after {
			    background-image: url(style/image/play-button/active.png);
			}
		}
	}

	.see-more {
		justify-content: flex-end;

		span {
			display: inline-block;
			a {
				text-align: right;
				&:after {
					margin-right: 2em;
					content: " >";
				}
			}
		}
	}
}

article.job-listing {
	padding-top: base(10);
	padding-bottom: base(10);

	hgroup {
		margin-bottom: base(4);

		h2, h3{
			line-height: 1.5em;
		}
	}

	.post-content {
		max-width: 684px;
		h1,h2,h3,h4,h5,p,ul,ol {
			margin-bottom: base(2);
		}

		ul {
		    list-style: disc outside;
		    margin-left: 20px;
		}
	}

	.apply {
		text-align: center;
	}
	.apply-now {
		@extend .cta-button;
		background: #E9EBF0;
		color: $primary1;
		font-weight: 400;
		margin: auto;

		&:hover {
			background: $primary5;
		}
	}
}