.resources-page {
	background: $primary6;
	padding: base(10) 0;

	a {
		text-decoration: none;
	}

	.module-heading {
		background-color: #2267b0;
		border-bottom: 1px solid $primary5;
		padding-top: base();
		padding-bottom: base();
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		h5,a {
			color: $primary7;
		}

		&:after {
			content: none;
		}

		.more-icon {
			margin-left: base();
			font-size: base(2);
		}
	}

	.module-content {
		padding-top: base(2);
		padding-bottom: base(2);
	}

	.spark-container {
		flex-wrap: wrap;
	}

	.resource-videos {
		@include span(12);

		@include breakpoint($small){
			margin-bottom: base(5);
			margin-top: base(2);
		}

		.spark-video-list {
			@include breakpoint($medium-up){
				@include span(12);
			}

			.module-container{
				background: $primary7;
				box-shadow: 0px -1px 10px rgba(0,0,0, .2);
				border-radius: 4px;
				overflow: hidden;
			}
		}

		.module-heading {
			// background-color: #dde1ea;
			flex-direction: row;
			h5 {
				color: $primary7;
			}
		}
		
		.videos{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			padding: base(4) base(2) 0;
		}

		.spark-video-preview-container {
			@include span(6);
			margin-bottom: base(6);
			
			@include breakpoint($medium-up){
				@include span(4);
			}

			.spark-video-preview {
				@include breakpoint($medium-up){
					padding: 0 base(2);
				}
			}


			.video-thumb {
				margin-bottom: base(2);
				position: relative;

				&:hover {
					cursor: pointer;

					img {
						opacity: .3;
					}
				}

				&:after{
					background-image: url(style/image/play-button/active.png);
					background-size: cover;
				    bottom: 0;
					content: "";
					display: block;
					height: 80px;
				    left: 0;
					margin: auto;
					position: absolute;
				    right: 0;
				    top: 0;
					width: 80px;
					opacity: 0;
					transition: opacity .3s linear;
				}

				&:hover:after{
					opacity: 1;
				}

			}

			.video-meta {
				h3,p {
					margin-bottom: base(.5);
					overflow: hidden;
					font-size: 12px;
					line-height: 1.3;
				}
			}
		}
	}
	.resource-sidebar {
		@include span(12);
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		.link-list {
			width: span(12);

			@include breakpoint($medium-up){
				@include span(6);
			}

			.link-list-content {
				background: $primary7;
				border-radius: 4px;
				box-shadow: 0px -1px 10px rgba(0,0,0, .2);
				overflow: hidden;
			}

			.read-more {
			}
			.spark-container {
				padding-top: base();
				padding-bottom: base();
			}

			.module-content {
				padding: 0;
			}

			.spark-position-preview {
				@include span(12);
				border-bottom: 1px solid $primary6;
				padding: 0;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				padding: base() base(2);
				cursor: pointer;

				&:hover {
					background: $primary6;
				}
			}

			.spark-position-link {
				align-items: center;
				color: $primary1;
				display: flex;
				justify-content: space-between;
				padding: base() 0;
				width: 100%;


				.position-title {
					width: calc(100% - #{base(3)});
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
			}

			.position-meta {
				align-items: center;
				width: calc(100% - 20px);
				p {
					font-size: 14px;
					margin: base() base() base() 0;
				}
				.spark-position-link {
					@include span(3);
					text-align: right;


				}
			}
		}

		.whitepaper {
			width: span(12);
			margin-bottom: base(2);

			@include breakpoint($medium-up){
				@include span(6);
			}

			.whitepaper-content {
				background: white;
				border-radius: 4px;
				box-shadow: 0px -1px 10px rgba(0,0,0, .2);
				overflow: hidden;
			}

			.module-content {
				padding-top: 27px;
				padding-bottom: 27px;
			}

			.spark-image {
				@include span(6);
				img {
					max-width: 100%;
				}
			}

			.spark-content {
				@include span(12);
			}
		}
	}
}