.spark-team-grid {
	background: $primary6;
	padding: base(10) 0;

	+ .spark-team-grid {
		padding-top: 0;
	}

	.spark-grid {
		display: flex;
		flex-wrap: wrap;

		.spark-grid-item {
			@include span(12);
			margin-bottom: base(6); 

			@include breakpoint($medium-up) {
				@include span(3);
			}
		}
	}

	h2 {
		text-align: center;
		margin-bottom: base(5);
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		&:before, &:after {
			content: "";
			height: 1px;
			width: base(3);
			display: block;
			background: $primary7;
			margin: 0 base(3);
		}
	}

	&.advisors {

		.spark-profile-position {
			padding-bottom: base();
		}

		.spark-grid {
			flex-wrap: wrap;
		}

		.spark-grid-item {
			@include span(6);
			@include breakpoint($medium-up){
				@include span(2.4);
			}


		}

		.spark-profile {
			background: none;
			box-shadow: none;
		}

		.spark-profile .spark-profile-image {
			background-repeat: no-repeat;
			background-size: contain;
			border-radius: 0;
			height: 200px;
			max-width: 24vw;
			max-height: 24vw;
			width: 200px;

			@include breakpoint($medium-up){
				width: 180px;
				height: 180px;
				max-width: 14vw;
				max-height: 14vw;
			}


		}

		.spark-social-icons {
			display: none;
		}

		.spark-info-text {
			height: 2em;
			margin-top: 0 !important;
			padding: 0 !important;
		}
	}
}

.spark-profile {
	background: $primary7;
	border-radius: 2px;
	box-shadow: 2px 2px 8px $secondary2;
	.spark-profile-preview {
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: base(3) 0 0;

		.spark-profile-image {
			width: 140px;
		    height: 140px;
		    display: block;
		    border-radius: 50%;
		    background-size: cover;
		    margin-bottom: base(3);
		}

		.profile-image-container {
			position: relative;
			.spark-profile-image-hover {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				transition: opacity .25s linear;
			}

			.dev-tag {
				background: $primary1;
				border-radius: 50%;
				color: $primary7;
			    position: absolute;
			    text-transform: uppercase;
			    width: 35px;
			    height: 35px;
			    padding: 6px 0px;
			    font-size: 10px;
			    text-align: center;
				bottom: 20px;
				right: 0px;
				font-weight: 600;
				box-shadow: 0px 0px 6px #1A1A3388;
			}
		}

		h4 {
			white-space: nowrap;
			overflow: hidden;
			margin-bottom: base();

			@include breakpoint($small){
			    font-size: 16px;
			    line-height: 18px;
			}
		}

		.spark-profile-position {
			line-height: 1.3;
			text-align: center;
		}

		.spark-info-text {
			font-size: 12px;
			line-height: 1.6;
			margin-top: base();
			overflow: hidden;
			padding: 0 base(2);
			padding-right: base(1.2);
			position: relative;

			@include breakpoint($medium-up){
				height: base(15);
			}

			.ps__rail-y {
			    position: absolute;
			    top: 0;
			    right: 0;
			    left: auto !important;
			    width: base();
			    background-color: $primary6;
			    border-radius: 5px;
			    overflow: hidden;
			    opacity: 1;

				.ps__thumb-y {
				    border-radius: 5px;
					background-color: $secondary2;
					right: 1px !important;
				}

			    &:hover {
					.ps__thumb-y {
						width: base();
					}
			    }
			}
		}

		.spark-social-icons {
			padding: base(2) 0;
			position: relative;
			width: 100%;
			text-align: center;
			margin-top: base(2);
			a {
				align-items: center;
				color: $primary2;
				display: inline-block;
				font-size: 22px;
				height: 26px;
				margin: 0 base();
				position: relative;
				text-decoration: none;
				z-index: 1;
			}
			&:before {
				background-color: $primary5;
				content: "";
				display: block;
				height: 1px;
				left: 0;
				margin: auto;
				position: absolute;
				right: 0;
				top: 0;
				width: calc(100% - #{base(4)});
			}
			&:after {
				@include subtle-gradient;
				bottom: 0;
				content: "";
				height: 3px;
				left: 0;
				position: absolute;
				transition: color .25s linear .25s, height .3s linear;
				width: 100%;
				z-index: 0;
			}

		}
	}
	&:hover {

		.profile-image-container {
			position: relative;
			.spark-profile-image-hover {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 1;
			}
		}

		.spark-social-icons {
			a {
				color: white;
			}

			&:after{
				height: 100%;
			}
		}
	}
}