/*
	Typography
	All typographic settings
*/	

// Import Fonts

// Variables
/// Font Size
//// Large
$heading1_size: 30px;
$heading1_lineheight: 37px;

$heading2_size: 24px;
$heading2_lineheight: 24px;
$heading3_size: 16px;
$heading3_lineheight: 24px;
$heading4_size: 14px;
$heading4_lineheight: 15px;
$heading5_size: 12px;
$heading5_lineheight: 15px;
$heading6_size: 12px;
$heading6_lineheight: 22px;
$body_size: 14px;
$body_lineheight: 24px;

//// Small
$heading1_size_small: 30px;
$heading1_lineheight_small: 37px;

$heading2_size_small: 18px;
$heading2_lineheight_small: 22px;

$heading3_size_small: 30px;
$heading3_lineheight_small: 32px;

$heading4_size_small: 14px;
$heading4_lineheight_small: 27px;

$heading5_size_small: 11px;
$heading5_lineheight_small: 18px;

$body_size_small: 12px;
$body_lineheight_small: 20px;

/// Font Family
$heading_family: "montserrat", sans-serif;
$body_family: "montserrat", sans-serif;

// Body
body {
	color: $primary1;
	font-family: $body_family;
	font-size: $body_size;
	font-weight: 300;
	line-height: $body_lineheight;
	letter-spacing: 1px;
}

// Headings
h1,h2,h3,h4,h5,h6 {
	font-family: $heading_family;
}
h1 {
	font-size: $heading1_size;
	font-weight: 300;
	line-height: $heading1_lineheight;
}
h2 {
	font-size: $heading2_size;
	font-weight: 600;
	line-height: $heading2_lineheight;
}
h3 {
	color: $primary1;
	font-size: $heading3_size;
	line-height: $heading3_lineheight;
	font-weight: 600;
}
h4 {
	color: $primary1;
	font-size: $heading4_size;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: $heading4_lineheight;
}
h5 {
	color: $primary1;
	font-size: $heading5_size;
	font-weight: 800;
	letter-spacing: 2px;
	text-transform: uppercase;
}
h6 {
	font-size: $heading6_size;
	line-height: $heading6_lineheight;
	font-weight: 400;
}

p.large {
	font-size: 24px;
	line-height: 32px;
}

a {
	color: $primary2;
	transition: color .25s linear;

	&:hover {
		color: darken($primary2, 20%);
	}
}

strong, b {
	font-weight: 600;
}

em {
	font-weight: 400;
	font-style: italic;
}

.secondary-link {
	color: $primary1;
	display: inline-block;	
	font-weight: 600;
	margin-top: base(2);
	text-decoration: none;
	text-transform: uppercase;
	&:after{
		content: "\2192";
		display: inline-block;
		margin-left: base(1);
	}
}

.statistic-value {
	font-size: 64px;
}

@include breakpoint($small){

	body {
		font-size: $body_size_small;
		line-height: $body_lineheight_small;
	}
	
	h1 {
		font-size: $heading1_size_small;
		font-weight: 300;
		line-height: $heading1_lineheight_small;
	}
	h2 {
		font-size: $heading2_size_small;
		line-height: $heading2_lineheight_small;
	}

	h4 {
		font-size: $heading4_size_small;
		line-height: $heading4_lineheight_small;
	}
	h5 {
		font-size: $heading5_size_small;
		line-height: $heading5_lineheight_small;
		font-weight: 800;
		letter-spacing: 4px;
		text-transform: uppercase;
	}

	strong {
		
		font-weight: 600;
	}
	
}

.spark-content {
	h1,h2,h3,h4,h5,h6, ul, ol, p:not(:last-of-type) {
		margin-bottom: base(2);
	}
}