/*
	UI
	All UI element styles
*/	

.noscroll {
	overflow: hidden;
}


.cta-button {
	@include subtle-gradient-tb;
	border-radius: 4px;
	display: inline-block; 
	font-weight: 600;
	padding: base(2) base(3);
	text-decoration: none;
	text-transform: uppercase;
	color: $primary7;

	&:hover {
		background: #234898 !important;
		color: $primary6;
	}

	&.small-button {
		padding: base() base(2);
		font-size: 12px; 
	}
}

.gray-cta-button {
	@extend .cta-button;
	background: #E9EBF0;
	color: $primary1;
	font-weight: 400;

	&:hover {
		background: #D0D4E1 !important;
		color: $primary1;
	}
}

.youtube-modal{
	.spark-modal-close {
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}
	&:not(.open) {
		display: none;
	}

	&.open {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	    background: rgba(255,255,255,0.8);

		.youtube-frame {
			background: white;
		    bottom: 0;
			box-shadow: 1px 5px 20px rgba($primary1,.5);
			display: flex;
			height: 360px;
		    left: 0;
		    margin: auto;
			position: fixed;
		    right: 0;
			top: 0;
			width: 560px;
			z-index: 1000;

			.modal-close-button {
				background-image: url(style/image/icon/close_button.png); 
				background-size: contain;
				background-repeat: no-repeat;
				cursor: pointer;
				display: block;
				height: 40px;
				position: absolute;
				right: -40px;
				top: -40px;
				width: 40px;
			}
		}
	}
}