/*
	UI
	All UI element styles
*/	


.cta-button {
	@include subtle-gradient-tb;
	border-radius: 4px;
	display: inline-block; 
	font-weight: 600;
	padding: base(2) base(3);
	text-decoration: none;
	text-transform: uppercase;
	color: $primary7;

	&:hover {
		background: #234898;
		color: $primary6;
	}
}

.youtube-modal{
	.spark-modal-close {
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}
	&:not(.open) {
		display: none;
	}

	&.open {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	    background: rgba(255,255,255,0.8);

		.youtube-frame {
			background: white;
		    bottom: 0;
			box-shadow: 1px 5px 20px rgba($primary1,.5);
			display: flex;
			height: 360px;
		    left: 0;
		    margin: auto;
			position: fixed;
		    right: 0;
			top: 0;
			width: 560px;
			z-index: 1000;

			svg {
				position: absolute;
				top: -40px;
				right: -40px;
			}
		}
	}
}